:root {
    --main-color: #106585;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    --hover-color: #0b5069;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width:345px;
    position: fixed;
    height: 100%;
    left:0;
    top:0;
    background: var(--main-color);
    z-index:100;
}

.sidebar-menu {
    margin-top: 1rem;
}

.sidebar-menu li {
    width:100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.sidebar-menu a:active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a:hover {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}

.main-content {
    margin-left:345px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    left:345px;
    width: calc(100%-345px);
    top:0;
    z-index:100;
}

header h2 {
    color: #222;
}

header label span {
    font-size:1.7rem;
    padding-right:1rem;

}

.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height:50px;
    display: flex;
    align-items:center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

.user-wrapper {
    display:flex;
    align-items:center;
}

.user-wrapper img {
    border-radius:50%;
    margin-right: 1rem;
}

.user-wrapper h4 {
    margin-bottom:0rem !important;
}
.user-wrapper small {
    display:inline-block;
    color: var(--text-grey);
    margin-top: -10px !important;
}

main {
    padding: 2rem 1.5rem;
    background: #f0f0f0;
    min-height: calc(100vh-90px);
}


.cards {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}

.card-single {
    display:flex;
    justify-content: space-between;
    background: var(--main-color);
    color: #b9e2ea;
    padding: 2rem;
    border-radius: 2px;
}

.card-single div:last-child span{
    font-size: 1rem;
}

.card-single div:first-child span{
    color: #fff;
}

.recent-grid {
    display: block;
    padding-top: 2rem;
}

table {
    border-collapse: collapse;
}

.container {
    left: 345px;
    width: calc(100%-345px);
    max-width: 600px; 
    margin: 10px auto; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: var(--hover-color);
}

.add-product-btn {
    margin-top:10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-product-btn:hover {
    background-color: var(--hover-color);
}