
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Cinzel Decorative', serif;
    margin: 0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width 0;

}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar-track{
    background:transparent;

}
html::-webkit-scrollbar-thumb{
    background:var(--black);

}

section{
    padding: 5rem -9px;
}

.header .header-1{
    background:#106585;
    padding:0.5rem 2%;
    display:flex;
    align-items:center;
    justify-content:space-between;

}

.header .header-1 .logo{
    font-size: 3rem;
    font-weight:bolder;
    color:#fff;
}

.header .header-1 .logo i{
    color:#fff;

}

.logo-image{
    width: auto;
    height: 150px;


}
  
.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--black);
}

.header .header-1 .icons div, 
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:#fff;
}

#seach-btn{
    display: none;
}

.header .header-2{
    background:#106585;

}

.header .header-2 .navbar{
    text-align:center;
}
.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size:1.7rem;
}

.header .header-2 .navbar a:hover{
    background:#AED0DD;
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}

.lower-navbar{
    text-align: center;
    background:#106585;
    position: fixed;
    bottom:0; left:0; right:0;
    z-index: 1000;
    display: none;
}

.lower-navbar a{
    font-size:2.5rem;
    padding:2rem;
    color:var(--black);
}

.lower-navbar a:hover{
    background:#AED0DD;
}

.Home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Home .row .content{
    flex:1 1 42rem;
}

.Home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2.5rem;

}



.Home .row .books-slider a img{
    height: 25rem;

}

.Home .row .books-slider a:hover img{
    transform: scale(.9);
}

.Home .row .content h3{
    color:var(--black);
    font-size:4.5rem;

}

.Home .row .content p{
    color:var(--light-color);
    font-size:1.5rem;
    line-height:2;
    padding:1rem 0;
}

.Home .row .content{
    text-align: center;
}

.Home .row .content h3{
    font-size: 3.5rem;

}

.arrivals {
    background:#106585;
    color:#fff;
}
.arrivals .arrivals-slider .box{
    display:flex;
    background:#fff;
    align-items:first baseline;
    gap:0rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:0rem 0;

}

.arrivals .arrivals-slider .box:hover{
    border:var(--border-hover);
}

.arrivals .arrivals-slider .box .image img{
    height:15rem;
}

.arrivals .arrivals-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);

}

.arrivals .arrivals-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;

}

.arrivals .arrivals-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;

}

.arrivals .arrivals-slider .box .content .stars i{
    font-size: 1.5rem;
    color:var(--green);
}

/* media */

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }
}
@media (max-width:768px){
    html{
        scroll-padding-top: 0;

    }
    body{
        padding-bottom: 6rem;
    }



    .header .header-2{
        display:none;
    }

    .lower-navbar{
        display: block;
    }

    #seach-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow:var(--box-shadow);
        position:relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width:90%;
        box-shadow: var(--box-shadow);

    }
    .header .header-1 .search-form.active{
        top: 115%;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}


/*CATALOG CSS FILES */

.catalog .book-box 
{
    padding: 2rem 1rem;
    border: var(--border);
    margin: 0rem 0;
    display: flex;
    background: #fff;
    align-items: flex-start; 
    gap: 0rem;
    
}

.catalog .book-box:hover 
{
    border: var(--border-hover);
}

.catalog .book-box .image img 
{
    height: 15rem;
}

.catalog .book-box .content h3 
{
    font-size: 2rem;
    color: var(--black);
}

.catalog .book-box .content .price 
{
    color: var(--black);
    padding-bottom: .5rem;
    font-size: 2.2rem;
}

.catalog .book-box .content .price span 
{
    color: var(--light-color);
    text-decoration: line-through;
    font-size: 1.5rem;
 
}

.catalog .book-box .content .stars i 
{
    color: var(--green);

    font-size: 1.5rem;
}

.catalog h1 
{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #106585;
  
}


